{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if type %}
        {{ type.description|truncatewords:155 }}
    {% else %}
        Welcome to the cushion store where you can buy comfy and awesome cushions.
    {% endif %}
{% endblock %}
{% block title %}
    {% if type %}
        {{ type.name }} - Perfect Cushion Store
    {% else %}
        See Our Cushion Collection - Perfect Cushion Store
    {% endif %}
{% endblock %}
{% block content %}
    <!--Breadcrumb navigation-->
    {% if type %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:all_products' %}">Our Product Collection</a> | {{type.name}}</p>
            </div>
        </div>
    {% endif %}
    <div>
        {% if type %}
            <img src="{{type.image.url}}" alt="{{type.name}}">
        </div>
        <br>

        <div>
            <h1>{{type.name}}</h1>
            <p>{{type.description}}</p>
        </div>
    {% else %}
        <img class = "my_image my_image_padding" src="{% static 'images/banner.jpg' %}" alt="Our Products Collection">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">Our Products Collection</h1>
        <p class="text-justify">Finding the perfect jacket or coat for yourself can be really important so one can express 
            their personality through the style, material and type they pick. Our company has a wide range of coats and jackets 
            to match every individuals sense of fashion and aesthetic. Choose from different colours, to different styles, to 
            different lenghts, to different materials and much more. Get cosy and warm with SIM's Outdoorwear</p>
    </div>
    {% endif %}
    <div>
        <div>
            {% for product in prods %}
                <div>
                    <div>
                        <a class ="img" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                        <div>
                            <h4>{{product.name}}</h4>
                            <p>€{{product.price}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    </div>
{% endblock %}