{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if type %}
        {{ type.description|truncatewords:155 }}
    {% else %}
        Welcome to the outerwear shop where we have an unlimited selection of coats and jackets to choose from.
    {% endif %}
{% endblock %}
{% block title %}
    {% if type %}
        {{ type.name }} - Perfect Cushion Store
    {% else %}
        See Our Outerwear Collection - Perfect Outerwear Store
    {% endif %}
{% endblock %}
{% block content %}
    <!--Breadcrumb navigation-->
    {% if type %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:all_products' %}">Our Product Collection</a> | {{type.name}}</p>
            </div>
        </div>
    {% endif %}
    <div>
        {% if type %}
            <img src="{{type.image.url}}" alt="{{type.name}}">
        </div>
        <br>

        <div>
            <h1>{{type.name}}</h1>
            <p>{{type.description}}</p>
        </div>
    {% else %}

    
    <div class="container my-5">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <!-- Card -->
            <div
                 class="bg-image card shadow-1-strong"
                 style="
                        background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');
                        "
                 >
              <div class="card-body text-white">
                <h5 class="card-title">Main</h5>
                <p class="card-text">
                  Our company sells all types, colours, length, style and materials of coats and jackets.
                </p>
                <a href="{{cat.get_absolute_url}}" class="btn btn-outline-light">Main</a>
              </div>
            </div>
            <!-- Card -->
          </div>
      
          <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div
                 class="bg-image card shadow-1-strong"
                 style="
                        background-image: url('https://mdbootstrap.com/img/new/slides/028.jpg');
                        "
                 >
              <div class="card-body text-white">
                <h5 class="card-title">Coats</h5>
                <p class="card-text">
                  Select from our collection of all types of coats to fit with your aesthetic.
                </p>
                <a href="{{cat.get_absolute_url}}" class="btn btn-outline-light">Coats</a>
              </div>
            </div>
            <!-- Card -->
          </div>
      
          <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div
                 class="bg-image card shadow-1-strong"
                 style="
                        background-image: url('https://mdbootstrap.com/img/new/slides/033.jpg');
                        "
                 >
              <div class="card-body text-white">
                <h5 class="card-title">Jackets</h5>
                <p class="card-text">
                  Check out our  wide range of jackets, with every style to match ur fashion.
                </p>
                <a href="{{cat.get_absolute_url}}" class="btn btn-outline-light">Jackets</a>
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
      </div>


    <br>
    <div class="info-container">
        <h1 class="text-center my_title">Our Products Collection</h1>
        <p class="text-justify">Finding the perfect jacket or coat for yourself can be really important so one can express 
            their personality through the style, material and type they pick. Our company has a wide range of coats and jackets 
            to match every individuals sense of fashion and aesthetic. Choose from different colours, to different styles, to 
            different lenghts, to different materials and much more. Get cosy and warm with SIM's Outdoorwear</p>
      <br>
    </div>
    {% endif %}
    <div class="container">
        <div class="row mx-auto">
            {% for product in prods %}
                <div class="my_bottom_margin col-9 col-lg-4 col-sm-12 col-md-4">
                    <div class="card text-center" style="min-width:18rem;">
                        <a class ="img" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                        <div>
                            <h4>{{product.name}}</h4>
                            <p>€{{product.price}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    </div>
{% endblock %}